<div class="ui vertically padded centered grid login">
  <div class="five wide computer twelve wide column">
    <%= render "shared/flash_messages", object: nil %>
    <div class="ui blue segment">
      <%= form_for login_path, html: {class: "ui form"} do |f| %>
        <div class="field">
          <%= text_field_tag :username, params[:username], :placeholder => "Nome de usuário"%>
        </div>
        <div class="field">
          <%= password_field_tag :password, params[:email], :placeholder => "Senha" %>
        </div>

        <div class="field">
          <%= submit_tag "Entrar", :class => "ui submit blue fluid button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
