<div class="ui grid">
  <%= render "shared/flash_messages", object: @user %>
  <div class="four wide column">
    <div class="ui fluid card">
      <div class="image">
        <img src="<%= "https://robohash.org/#{@user.username}" %>" alt="">
      </div>
      <div class="content">
        <a class="header"><%= @user.username %></a>
        <div class="meta">
          <span class="date">Desde de: <%= @user.created_at.strftime("%d/%m/%Y") %></span>
        </div>
        <div class="description">
          <%= @user.bio %>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="edit icon"></i>
          <%= @user.posts.count %> Posts
        </a>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    <% @user.posts.each do |post| %>
      <div class="ui post segment">
        <div class="votes">
          <span><%= post.vote_balance %></span>
        </div>

        <div class="content">
          <div class="meta">
            <img src="<%= "https://robohash.org/#{post.user.username}" %>" alt="">
            <%= link_to post.user do %>
              <span><%= post.user.username %></span>
              <span class="time"> - <%= time_ago_in_words post.created_at %></span>
            <% end %>
          </div>

          <h2 class="ui header"><%= post.title %></h2>
          <div class="body"><%= post.body %></div>
        </div>

      </div>
    <% end %>
  </div>
</div>
