<% unless flash.empty? %>
  <% flash.each do |type, message| %>
    <div class="ui <%= type %> message">
      <i class="close icon"></i>
      <div class="header">
        <%= message %>
      </div>
      <% unless object.nil? %>
        <% unless object.errors.empty? %>
          <ul class="list">
            <% object.errors.each do |attr, msg| %>
              <li><%= "#{object.class.human_attribute_name(attr).capitalize} - #{msg}" %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  <% end  %>
<% end %>
