<%= render "shared/flash_messages", object: @post %>
<% @posts.each do |post| %>
  <div class="ui post segment">
    <div class="votes">
      <%= link_to votes_path(params: {vote: {kind: 'up', post_id: post.id}}), method: :post do %>
        <i class="arrow alternate up icon"></i>
      <% end %>
      <span><%= post.vote_balance %></span>
      <%= link_to votes_path(params: {vote: {kind: 'down', post_id: post.id}}), method: :post do %>
        <i class="arrow alternate down icon"></i>
      <% end %>
    </div>

    <div class="content">
      <div class="meta">
        <img src="<%= "https://robohash.org/#{post.user.username}" %>" alt="">
        <%= link_to post.user do %>
          <span><%= post.user.username %></span>
          <span class="time"> - <%= time_ago_in_words post.created_at %></span>
        <% end %>
      </div>

      <h2 class="ui header"><%= post.title %></h2>
      <div class="body"><%= post.body %></div>
    </div>

  </div>
<% end %>

<%= will_paginate @posts %>
