<div class="sixteen wide column user-group-form">
  <%= render "shared/flash_messages", object: @post %>
  <%= form_for @post, :html => {class: "ui small form", multipart: true, "accept-charset": "UTF-8" } do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => "Título" %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="ui divider"></div>

    <div class="field">
      <%= submit_tag "Salvar", :class => "ui submit blue button" %>
      <% if @post.persisted? && @post.user_id == current_user.id %>
        <%= link_to post_path(@post), method: :delete, class: "bnt delete", data: { confirm: 'Tem certeza que deseja remover o post' } do %>
          <i class="trash icon"></i> Remover post
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
