<div class="ui post segment">
  <div class="votes">
    <a href="#"><i class="arrow alternate up icon"></i></a>
    <span><%= @post.vote_balance %></span>
    <a href="#"><i class="arrow alternate down icon"></i></a>
  </div>

  <div class="content">
    <div class="meta">
      <img src="<%= "https://robohash.org/#{@post.user.username}" %>" alt="">
      <%= link_to @post.user do %>
        <span><%= @post.user.username %></span>
        <span class="time"> - <%= time_ago_in_words @post.created_at %></span>
      <% end %>
    </div>

    <h2 class="ui header"><%= @post.title %></h2>
    <div class="body"><%= @post.body %></div>

    <% if @post.user_id == current_user.try(:id) %>
      <%= link_to post_path(@post), method: :delete, class: "bnt delete", data: { confirm: 'Tem certeza que deseja remover o post' } do %>
        <i class="trash icon"></i> Remover post
      <% end %>
    <% end %>
  </div>

</div>
