/*
 *= require semantic
 *= require fonts
 *= require_self
 */

a.delete{
  color: #d9534f;
}

.ui.secondary.pointing.fixed.menu {
  background: white;
}

.ui.main.container{
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.post {
  display: flex;
  width: 100%;
}

.post .votes {
  text-align: center;
  flex-shrink: 0;
  background: #F7F9FA;
  margin: -1rem;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.post .votes > *{
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}

.post .meta {
  display: table;
}

.post .meta img{
  float: left;
  width: 25px;
}

.post .content a {
  float: left;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
}

.post .content a .time {color: #666}

.post .body {
  color: #444;
  font-size: 1.4rem;
  line-height: 2rem;
}

.post .ui.header {
  margin-top: 1rem;
}

.post .title{
  font-weight: bold;
}
