<!DOCTYPE html>
<html>
  <head>
    <title>PostIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui secondary pointing fixed large menu">
      <%= post_link "Top", "vote_balance" %>
      <%= post_link "Recentes", "created_at" %>
      <%= link_to "Postar!", new_post_path, {class: "item"} %>
      <div class="right menu">
        <%= link_to "Entrar", login_path, {class: "item"} if current_user.nil? %>
        <%= link_to 'Sair', logout_path, method: :delete, data: { confirm: 'Sair?' }, class: 'item' unless current_user.nil? %>

        <!-- <a class="ui item">
          Logout
        </a> -->
      </div>
    </div>

    <div class="ui main container">
      <%= yield %>
    </div>

  </body>
</html>
